[submodule "sites/default/libraries/ckeditor"]
  path = sites/default/libraries/ckeditor
  url = https://github.com/TJUSSE/sseweb-ckeditor
[submodule "profiles/sse_profile"]
	path = profiles/sse_profile
  url = https://github.com/TJUSSE/sseweb-profile
[submodule "sites/default/themes/sse_theme"]
	path = sites/default/themes/sse_theme
  url = https://github.com/TJUSSE/sseweb-theme
[submodule "sites/default/modules/sse_taxonomy"]
	path = sites/default/modules/sse_taxonomy
  url = https://github.com/TJUSSE/sseweb-fixtaxonomy
[submodule "sites/default/modules/sse_mark"]
	path = sites/default/modules/sse_mark
	url = https://github.com/TJUSSE/sseweb-mark
[submodule "sites/default/modules/sse_admintype"]
	path = sites/default/modules/sse_admintype
	url = https://github.com/TJUSSE/sseweb-admintype
[submodule "sites/default/modules/sse_contactfield"]
	path = sites/default/modules/sse_contactfield
	url = https://github.com/TJUSSE/sseweb-contactfield
[submodule "sites/default/modules/sse_subscription"]
	path = sites/default/modules/sse_subscription
	url = https://github.com/TJUSSE/sseweb-subscription
[submodule "sites/default/modules/sse_login"]
	path = sites/default/modules/sse_login
	url = https://github.com/TJUSSE/sseweb-login
[submodule "sites/default/modules/sse_noticefilter"]
	path = sites/default/modules/sse_noticefilter
	url = https://github.com/TJUSSE/sseweb-noticefilter
[submodule "sites/default/modules/sse_util"]
	path = sites/default/modules/sse_util
	url = https://github.com/TJUSSE/sseweb-util
[submodule "sites/default/modules/sse_themehelper"]
	path = sites/default/modules/sse_themehelper
	url = https://github.com/TJUSSE/sseweb-themehelper
[submodule "sites/default/modules/sse_fff"]
	path = sites/default/modules/sse_fff
	url = https://github.com/TJUSSE/sseweb-fff
